body {
    /* background: #EAEAEA; */
}
.container {
    /* background: white; */
}

.col-blue {
    background: lightblue;
}

.col-red {
    background: lightsalmon;
}

.col-yellow {
    background: lime;
}